@import url(01_reset.css);
/*^^^^RESETEADOS los estilos
-----------------
Guia de estilos:
1. THEME
2. RESET
1. LAYOUT
2. GENERIC ITEMS
3. ESPECIFIC ITEMS
4. LIST
-----------------

/* -------- 1. THEME -------- */

/*VERDE pistacho-cielo-oscuro*/
:root {
  --first-color: #acc233;
  --second-color: #d6e199;
	--third-color: #2d572c;
}

/*AZUL cobalto-marino-turquesa
:root {
  --first-color: #333c87;
  --second-color: #000080;
	--third-color: #5dc1b9;
}

/*NARANJA neon-caqui-ocre
:root {
  --first-color: #ffa420;
  --second-color: #e25f23;
	--third-color: #cc7722;
}

IMAGEN CABECERA*/
:root{
	--header-img: url(images/header-01.png);
}

/* -------- 1. LAYOUT -------- */

	body { text-align: center; font:300 20px/1.7 'Roboto Condensed'; background-color: var(--first-color);}

	.header { display: flex; flex-flow: column; justify-content:center; align-items:center;}
  img[name="logo"]:hover { height: calc(100% + 0.5px);}

  /*.theme-selector{ position: absolute; left: 75%; right: 0; top: 10px; color: #fff; background-color: #000; opacity: 50%}*/
  .theme-selector{ align-self: flex-end; margin-top: -11%; margin-right: 2px; padding: 3px; border-radius: 10px ;color: #fff; background-color: #899; border: 1px dashed gray; opacity: 20%}

  .theme-selector:hover{ opacity: 100%;}

	.navbar { display: flex; align-items:center; justify-content:center;}

	.list-productos { display: flex; align-items:center; justify-content:center;}
	.list-productos figure { display: flex; justify-content:center; align-items:center; flex-flow:column;}

/* -------- 2. GENERIC ITEMS -------- */

	.header { height: 450px; background: var(--header-img) no-repeat center top; background-size: cover;}

  .navbar { height: 63px; background: var(--first-color); border: 1px dashed var(--second-color);}
	.navbar a { padding: 0 20px; color: #fff; text-decoration: none; text-transform: uppercase; font: 20px 'Stint Ultra Condensed';}
  .navbar a:hover { text-decoration: underline; }

	.title { margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase;}

	p { margin-bottom: 40px;}

	.btn { display: inline-block; padding: 10px 40px; border:2px solid #fff; color: #fff; text-decoration: none;}

  .btn:hover{ background: hsla(360, 100%, 100%, 0.5);}

/* -------- 3. PARTS OF WEB -------- */

	.content { padding: 80px 0;}

		.who { background: var(--second-color); color: #fff;}
			.who p { max-width: 1055px; margin: 0 auto;}

		.productos { background: var(--third-color); color: #fff; }

		.tarifas { background: url(images/dummy-tarifas.png) no-repeat center top; color: #fff; text-align: left;}
			.contain { max-width: 1055px; margin: 0 auto;}
			.tarifas p { max-width: 450px;}

		.localizacion { color: var(--third-color); padding-bottom: 0;}
			.localizacion .map img { max-width: 100%; width: 100%;}

/* -------- 4. LIST -------- */

	.list-productos figure { position: relative; width: 100px; height: 100px; }
	.list-productos img { position: relative; z-index: 1; border-radius: 50%; width: 100px; height: 100px; opacity: 95%;}
  .list-productos img:hover { box-shadow: 8px 8px 10px hsla(360, 100%, 100%, 0.5);}
	.list-productos li { padding: 0 30px;}
	.list-productos figcaption { position: absolute; left: 0; right: 0; bottom: -40px;}
  .list-productos img:hover + figcaption { font-weight: bold;}
