/* -------- THEME --------*/
/*:root {
  /*ROJO
  --first-color: #a5a5a5;
  --second-color: #665d5d;
	--third-color: #b0041c;
}*/

:root {
  /*AZUL cobalto-marino-turquesa*/
  --first-color: #333c87;
  --second-color: #000080;
	--third-color: #5dc1b9;
}

/*:root {
  /*NARANJA neon-caqui-ocre
  --first-color: #ffa420;
  --second-color: #e25f23;
	--third-color: #cc7722;
}*/

:root{
    /*-------IMAGENES---------*/
    --header-img: url(../images/header-01.png);
    --logo-img: url(../images/logo.png);
}

@font-face {
  font-family: 'SportHealth';
  src: url('../fonts/Akira_Expanded.otf') format('opentype');
}
