@import url(00_definitions.css);
@import url(01_reset.css);
@import url(02_effects.css);
@import url(03_modals.css);
@import url(04_cards&tooltips.css);

/*^^^^RESETEADOS los estilos e importados css adicionales
-----------------
Guia de estilos:
1. LAYOUT
2. GENERIC ITEMS
3. SECTIONS
4. ESPECIFIC ITEMS
-----------------

/* -------- 1. LAYOUT -------- */
body {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  font:300 20px/1.7 'Roboto Condensed';
  background-color: var(--first-color);
  color: #000;
  overflow-x: hidden !important;
  cursor: default;
  user-select: none;
}

  .loader-wrapper {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--second-color);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
  }
  .loader {
    display: fixed;
    position: relative;
    color: var(--third-color);
  }

	.header {
    display: flex;
    flex-flow: row;
    margin-top: 45px;
    width: 100%;
    height: 450px;
    background-color: var(--third-color);
    background-size: cover;
    opacity: 90%;
  }

    .header-title {
      align-self: center;
      border-radius: 5% 5% 15% 15%;
      font: 30px "SportHealth";
      letter-spacing: -3.5pt;
      color: var(--second-color);
    }
      .header-title > h1 {
        font-size: 60px;
      }
      .header-title > span {
        font-size: 30px;
      }

    .theme-selector{
      z-index: 200;
      align-self: flex-start;
      position: absolute;
      top: 10px;
      right: 2px;
      border-radius: 10px;
      color: #fff;
      background-color: var(--second-color);
      border: 1px dashed gray;
      font-size: 12px;
      padding: 2px;
      opacity: 20%;
    }
    .theme-selector select{
      font-size: 10px;
    }

    .logo{
      z-index: 10;
      align-self: flex-end;
      background: var(--logo-img) no-repeat center top;
      background-size: cover;
      margin: 0 0 15px 20px;
      width: 535px;
      height: 375px;
      opacity: 85%;
      -webkit-transition: all 2s ease;
    }
    /*la parte que se ilumina del logo*/
    .logo-light{
      z-index: 100;
      background: url(../images/LUZ-logo.png) no-repeat center top;
      background-size: cover;
      margin: -3px -3px;
      width: 535px;
      height: 375px;
      opacity: 20%;
      -webkit-transition: all 2s ease;
    }

  .navbar {
    z-index: 200;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    min-width: 100%;
    height: 63px;
    background: var(--first-color);
    border: 3px double var(--second-color);
    border-left: 0;
    border-right: 0;
  }

  .content{
    padding: 90px 0;
  }

  .container{
    display: inline-block;
    width: 100%;
  }

/* -------- 2. GENERIC ITEMS -------- */

  .navbar a {
    padding: 0 20px;
    text-decoration: none;
    font: 100 22px 'Anton';
    letter-spacing: -0.3pt;
    color: var(--third-color);
  }
  /*uso <a> para poner varios fa- agrupados*/
  a[class^=fa-]{
    padding-left: 3px;
  }
  nav a span{
    color: var(--second-color);
    margin-left: 2px;
    opacity: 0;
  }
  .navbar-ico{
    position: absolute;
    top: 1px;
    left: 2px;
    width: 135px;
    height: 96px;
    background: var(--logo-img) no-repeat center top;
    background-color: var(--first-color);
    background-size: contain;
    border-radius: 0 0 2px 2px;
    opacity: 0%;
    -webkit-transition: 0.7s all ease;
  }

  .title {
    display: inline-block;
    z-index: 1;
    color: var(--third-color);
    margin-bottom: 40px;
    font: 50px "SportHealth";
    letter-spacing: -3pt;
  }
    .title + .fas:first-of-type:not(.manos, .fa-users){
      z-index: 20;
      position: relative;
      width: 200px;
      right: 10px;
      text-align: center;
      color: var(--third-color);
    }
    .title + .fas:first-of-type{
      z-index: 20;
      position: relative;
      top: 0px;
      line-height: 120px;
      width: 250px;
      right: 20px;
      text-align: center;
      color: #000;
    }
    .subtitle{
      font: 40px "Lalezar";
      padding: 30px 0;
    }

  h2 strong{
    font-family: 'Lalezar';
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 40px;
  }

  .btn {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
  }

/* -------- 3. SECTIONS -------- */

  .ourfocus, .ourplace {
    background: var(--second-color);
  }
  .ourfocus p {
    max-width: 1055px;
    margin: 20px auto;
  }

	.us {
    background: var(--first-color);
    min-height: 545px;
  }
  .us .title{
    color: var(--third-color);
  }
  .us-slogan{
    display: inline-flex;
    position: relative;
    right: 33%;
    width: 80%;
    background: url("../images/logo.png") no-repeat center top;
    background-size: contain;
  }
  .us-slogan figcaption{
    position: absolute;
    left: 42%;
    top: 93%;
    font: 600 50px 'Lalezar';
    font-style: italic;
    white-space: pre;
    color: var(--third-color);
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 2px black, 0px 0px 8px black, 0px 0px 1px black;
  }
  .us-slogan > span{
    position: relative;
    left: 75%;
    width: 40%;
    font: 600 50px 'Indie Flower';
    font-style: italic;
    color: #ccc;
    text-shadow: 2px 2px 4px var(--third-color);
  }
  .us-pic{
    display: inline-flex;
    width: 100%;
    max-width: 850px;
    height: auto;
    aspect-ratio: 17 / 10;
    background: url("../images/dummy-us.png") no-repeat center top;
    background-size: cover;
    border: 8px double #ccc;
    margin-top: 20px;
  }
  .container-uscards{
    display: flex;
    flex-direction: column;
    float: right;
    position: relative;
    top: -20px;
  }

  .services {
    background: var(--third-color);
    color: #fff;
  }
  .services .title{
    color: #000;
  }
  .list-tratamientos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-tratamientos figure {
    display: flex;
    position: relative;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px dotted #333;
  }
  .list-tratamientos img {
    position: relative;
    z-index: 1;
    width: 90px;
    height: 90px;
    opacity: 95%;
  }
  .list-tratamientos figcaption {
    position: absolute;
    left: -10px;
    right: 0;
    bottom: -45px;
    white-space: pre;
  }
  .list-tratamientos li {
    padding: 0 30px;
  }

  .ourplace{
    min-height: 550px;
  }
  .ourplace .title{
    color: #000;
  }
  .ourplace-pic{
    width: 700px;
    height: 450px;
    background: url("../images/dummy-ourplace.png") no-repeat center top;
    background-size: cover;
    border: 8px double #ccc;
    margin-left: 100px;
  }
  .ourplace figcaption{
    position: absolute;
    right: 130px;
    margin-top: 100px;
    font: 300 28px "Lalezar";
    color: #fff;
  }

  .contactus {
    z-index: 50;
    align-self: center;
    text-align: left;
    width: 80%;
    background: url(../images/dummy-contacto.png) no-repeat center top;
    background-size: cover;
    color: #fff;
  }
  .contactus p {
    max-width: 750px;
    padding: 4px 0 4px 0;
    margin: 0 0;
    user-select: text;
  }
  .contactus a{
    text-decoration: none;
    color: var(--third-color);
  }
  .art-content {
    max-width: 1055px;
    margin: 0 auto;
  }
  .contactus p:last-of-type {
    width: 650px;
    text-align: right;
    color: var(--third-color);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff;
  }
  .contactus td{
    padding: 0px 0px 0px 30px;
    vertical-align: middle;
    text-align: center;
  }
  .contactus img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 10px;
  }
  .social-title{
    font-weight: bold;
    color: var(--third-color);
    background-color: var(--second-color);
    text-shadow: 1px 1px 1px var(--first-color), -1px -1px 1px var(--first-color);
    padding: 3px;
    border-radius: 5px;
  }

  .location {
    z-index: 50;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .location .title{
    margin: 0 auto;
  }
  .location p{
    padding: 5px auto;
    margin: 3px auto;
    user-select: text;
  }
    .location .map > iframe {
      max-width: 100%;
      width: 100%;
      border: 2px dotted;
    }

/* -------- 4. ESPECIFIC ITEMS -------- */

#background-video {
  z-index: -100;
  object-fit: fill;
  position: absolute;
  left: 0;
  top: 45;
  width: 100%;
  min-width: 100%;
  height: 450px;
  opacity: 70%;
}

#btn_subir {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 55px;
  z-index: 99;
  border: 1px solid;
  text-decoration: none;
  background-color: var(--first-color);
  color: var(--third-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 40%;
  opacity: 80%;
 }

 #btn_subir:hover {
  background-color: #333;
  transform: translateY(-15px);
  transition: 1s all ease;
 }